<h2>links</h2>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
        <li>
            <a href="/contact">Contact</a>
        </li>
        <li>
            <a href="/products/1/Macbook?price=20.000.000">Product</a>
        </li>
    </ul>
    